<% layout('/layout') -%>

<div>
  <form name="frm_post" method="post" action="<%= path %>" calss="">
    <div class="row">
      <div class="input-field col s12">
        <input id="title" name="title" type="text" class="validate" value="" required />
        <label for="title" class="force-active"><%= i18n.__('board.post.title') %></label>
      </div>

      <div class="input-field col s12">
        <textarea id="body" name="body" class="" required></textarea>
        <label for="body" class="force-active"><%= i18n.__('board.post.content') %></label>
      </div>

      <div class="input-field col s12">
        <input id="tags" name="tags" type="text" />
        <label for="tags" class="force-active"><%= i18n.__('board.post.tags') %></label>
      </div>

      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          <i class="material-icons left">send</i><%= i18n.__('board.post.submit') %>
        </button>
        <button class="btn" type="button" name="cancel">
          <i class="material-icons left">cancel</i><%= i18n.__('board.post.cancel') %>
        </button>
      </div>
    </div>
  </form>
</div>

<% stylesheet('http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css') -%>
<% script('http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js') -%>
<% script('/js/articles.js') -%>
