<ul class="navigation side-nav" style="transform: translateX(0%);">
  <li class="profile-wrap" >
    <a href="" data-ma-action="profile-menu-toggle">
      <div class="profile-image">
        <img src="/images/profile/1.jpg" alt="<%= (userinfo) ? userinfo.name : "Guest" %>" />
      </div>

      <div class="profile-info">
        <% if (userinfo) { %>
          <a href="/"><%= userinfo.name %></a>
        <% } else { %>
          <a href="/login"> Guest </a>
        <% } %>

        <!-- <i class="zmdi zmdi-caret-down"></i> -->
      </div>
    </a>
    <!--
    <ul class="main-menu">
      <li>
          <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
      </li>
      <li>
          <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
      </li>
      <li>
          <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
      </li>
      <li>
          <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
      </li>
    </ul>
    -->
  </li>
  <li class="bold"><a href="/" class="waves-effect waves-teal"><i class="material-icons">home</i> <%= i18n.__('sidebar.home') %></a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold"><a class="collapsible-header waves-effect waves-teal <%= (menu.parent.path == 'board') ? 'active' : '' %>"><i class="material-icons">landscape</i> <%= i18n.__('sidebar.tracking.default') %></a>
        <div class="collapsible-body" style="display: none;">
          <ul>
            <li class="sub-item <%= (menu.current.path == 'notices') ? 'active' : '' %>"><a href="/board/notices"><%= i18n.__('sidebar.tracking.notice') %><span class="new badge"></span></a></li>
            <li class="sub-item <%= (menu.current.path == 'events')  ? 'active' : '' %>"><a href="/board/events"><%= i18n.__('sidebar.tracking.event') %></a></li>
            <li class="sub-item <%= (menu.current.path == 'reviews') ? 'active' : '' %>"><a href="/board/reviews"><%= i18n.__('sidebar.tracking.review') %></a></li>
          </ul>
        </div>
      </li>
      <li class="bold"><a class="collapsible-header waves-effect waves-teal"><i class="material-icons">view_carousel</i> Community</a>
        <div class="collapsible-body">
          <ul>
            <li class="sub-item"><a href="badges.html">Badges</a></li>
            <li class="sub-item"><a href="buttons.html">Buttons</a></li>
            <li class="sub-item"><a href="breadcrumbs.html">Breadcrumbs</a></li>
            <li class="sub-item"><a href="cards.html">Cards</a></li>
            <li class="sub-item"><a href="chips.html">Chips</a></li>
            <li class="sub-item"><a href="collections.html">Collections</a></li>
            <li class="sub-item"><a href="footer.html">Footer</a></li>
            <li class="sub-item"><a href="forms.html">Forms</a></li>
            <li class="sub-item"><a href="icons.html">Icons</a></li>
            <li class="sub-item"><a href="navbar.html">Navbar</a></li>
            <li class="sub-item"><a href="pagination.html">Pagination</a></li>
            <li class="sub-item"><a href="preloader.html">Preloader</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <!-- <li class="bold"><a href="mobile.html" class="waves-effect waves-teal">Mobile</a></li>
  <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Showcase</a></li>
  <li class="bold"><a href="themes.html" class="waves-effect waves-teal">Themes</a></li> -->
</ul>
